@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body {
  background-image: linear-gradient(60deg, #24292e 0%, #3b434d 100%);
  min-height: 100vh;
  min-width: 250px;
  font-style: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffb6c1;
  padding: 10px;
  height: 50px;
}

.title {
  flex: 1;
  letter-spacing: 3px;
  font-size: 2.8rem;
  text-shadow: 6px 6px 16px #00000042;
  color: #ffb6c1;
  font-family: 'Yatra One', cursive;
}

.line {
  width: 2px;
  height: 100%;
  background-color: #ffb6c1;
  margin: 0 10px;
}

.image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #ffb6c1;
  border-radius: 45px;
}

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
  margin-top: 50px;
}

.request {
  border: 2px solid #ccc;
  border-radius: 3px 25px 3px 3px;
  padding: 20px;
  min-height: 150px;
  background-color: #f1e1f6; 
}

.request:hover {
  transform: scale(1.07); /* Increase size on hover */
}

/* Styles for demand content */
.request-id {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  background-color: #83c6d2;
  border-radius: 2px 2px 2px 2px;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.text {
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  font-family: 'Yatra One', cursive;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1.0);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #FFF2FD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50%;
  padding: 20px;}

.popup-close {
    float: right;
    margin: 0 auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.popup-request-id {
  margin-top: 20px; 
  text-align: center;
  font-style: bold;
  font-size: 20px;
  color: #24292e;
  font-family: 'ADLaM Display', cursive;
}

.popup-username {
  font-style: italic; 
  color: #24292e;
  margin-top: 30px;
}

.popup-text {
  min-height: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: solid #ffb6c1;
  box-shadow: 2px 3px 3px 3px #ffb6c1;
  color: #24292e;
}

.accept-button{
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
}
